:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 5% auto;
  font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  line-height: 1.8;
  max-width: 73%;
}

